:root {
    --title: #ffde36;
}

html, body {
    min-height: 100%;
}
body {
    background: #3e4b91;
}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logo {
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
}
.logo img {
    width: 100%;
    height: auto;
}
.social {
    padding: 10px 0;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
}

.social__icon {
    max-width: 48px;
    margin-right: 10px;
    vertical-align: top;
}

.social__title {
    font-size: 32px;
    font-weight: 200;
    font-family: "Courier New", sans-serif;
    color: #b4b9e8;

}

.social__title .js,
.social__title .weekday{
    transition: all .1s ease;
}

.social__title:hover .js {
    color: #ffde36;
    text-shadow: 2px 2px 1px #fd6303
}

.social__title:hover .weekday {
    color: #ff6463;
    text-shadow: 2px 2px 1px #bb1242;
}
